<div class="body">
  <div class="container">
   <h3 class="col-xs-offset-1">商品新規登録</h3>
   <div class="row col-xs-offset-2">
     <%= form_with model: @item, url: admin_item_path, method: :patch, local: true do |f| %>
       <table class="tablespace">
         <thead>
           <tr>
             <th></th>
             <th></th>
             <th></th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td class="col-xs-3">
               <%= f.label :"商品画像" %>
             </td>
             <td>
               <%= f.attachment_field :image, placeholder: "image" %>
             </td>
           </tr>
           <tr>
             <td class="col-xs-3">
               <%= f.label :"商品名" %>
             </td>
             <td>
               <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"col-xs-10" %>
             </td>
           </tr>
           <tr>
             <td class="col-xs-3">
               <%= f.label :"商品説明" %>
             </td>
             <td>
               <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class:"col-xs-10 introduction" %>
             </td>
           </tr>
           <tr>
             <td class="col-xs-3">
               <%= f.label :"ジャンル" %>
             </td>
             <td>
               <%= f.select :genre_id, Genre.all.map{ |genre| [genre.name, genre.id]}, class:"col-xs-10" %>
             </td>
           </tr>
           <tr>
             <td class="col-xs-3">
               <%= f.label :"税抜き価格" %>
             </td>
             <td>
               <%= f.text_field :price, autofocus: true, autocomplete: "price", class:"col-xs-10" %>
               <label>円</label>
             </td>
           </tr>
           <tr>
             <td class="col-xs-3">
               <%= f.label :"販売ステータス" %>
             </td>
             <td>
               <label><%= f.radio_button :is_active, true, checked: "checked" %> 販売中</label>
               <label><%= f.radio_button :is_active, false %> 販売停止中</label>
             </td>
           </tr>
         </tbody>
       </table>
       <br>
       <div class="col-xs-offset-4">
          <%= f.submit "変更を保存", class: "btn btn-success b1" %>
        </div>
      <% end %>
   </div>
  </div>
</div>